.contain-form{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://img.wallpapersafari.com/desktop/1920/1080/11/91/jw9Wpd.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    flex-direction: column;
}

form{
    max-width: 50%;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px) ;
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    padding: 3em;
}

button{
    border-radius: 25px;
    margin-top: 3em;
    width: 100%;
    height: 50px;
    border-style: solid;
    border-width: 3px;
}
mat-radio-group{
    margin-left: 2em;
}
.radio-group-custom{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: center;
}
mat-radio-button{
    padding: 1em;
}

