.contain-form{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://img.wallpapersafari.com/desktop/1920/1080/11/91/jw9Wpd.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    flex-direction: column;
}