
.contain-calculate{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://img.wallpapersafari.com/desktop/1920/1080/11/91/jw9Wpd.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    flex-direction: column;
}

.demo-inline-calendar-card {
    width: 300px;
}

.glass-lg{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px) ;
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    padding: 3em;
    display: flex;
    align-items: center;
}

.grid{
    margin-left: 2em;
    display: grid;
}
.large-txt{
    font-size: large;
}
.txt-date{
    font-size: x-large; text-align: center
}