.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    position: -webkit-sticky;
    top: 0px;
    z-index: 999;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);    
}

a{
    width: 100%;
}
